doctype 5
html
    head
        title Clearstream
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="components/socket.io-client/dist/socket.io.min.js")
        script(src="/javascripts/index.js")
        
    body
        .container
            .header
                h1 CLEARSTREAM
                #expl trending news in Greece
            ul#links
              each link, index in data
                li.link
                  p.url <a href = #{link.url} target='_blank'>#{link.url}</a>