doctype 5
html
    head
        title Clearstream
        link(rel='stylesheet', href='http://bootswatch.com/cosmo/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="/components/socket.io-client/dist/socket.io.min.js")
        script(src="/javascripts/index.js")
        script(src="../node_modules/moments/moments.js")
        
    body
        section#clearstream-app
            .header#header
              h1 CLEARSTREAM
              h3 filter out the noise
            #description
              nav.description-nav
                h5.description-title
                  span WHAT'S HOT RIGHT NOW?
            section#main
              ul#links
                each link, index in data
                  li.link
                    p.url <a href = #{link.url} target='_blank'>#{link.article.title}</a>
                    p.url-info
                      span#date-text last mentioned on:
                      span#date-value #{link.created_at}
            footer#footer
              span#new-links #{data.length}              