!!! 5
html
    head
        title Clearstream
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href="//fonts.googleapis.com/css?family=Open+Sans", type="text/css")
        script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js")
        script(src="/javascripts/jquery.dotdotdot-1.5.9.min.js") 
        script(src="/javascripts/client-index.js")        
        
    body
        #clearstream-app.container-fluid
          .row-fluid
            #cover.span3
              #cover-description
                #cover-description-inner
                  span#title clearstream
                  span#subtitle filter out the noise
            #text-space.span9
              #header
                #description
                  h5.description-title
                    #newLinks
                      p#sum
                      p#newLinks-text
                    span WHAT'S HOT RIGHT NOW?
              #list-wrapper
                ol#links
              #footer