#clearstream-app {
	margin-left: auto;
	margin-right:auto;
	width: 62%;
	color: rgb(51, 51, 50);
}

#header {
	  text-align: center;
	  margin-bottom: 40px;
}

#description-nav {
	color: rgb(179, 179, 177);
}

.description-title {
	border-top: 1px solid rgb(179, 179, 177);
	border-bottom: 1px solid rgb(179, 179, 177);
}

.description-title span {
	line-height: 40px;
	color: rgb(179, 179, 177);
}

a {
	color: rgb(51, 51, 50);
}

a:hover, a:focus {
	color: rgb(179, 179, 177);
}

.url {
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0px;
}

.url-info {
	color: rgb(179, 179, 177);
	font-size: 10px;
	margin-bottom: 20px;
}

.link-footer-text {
	margin-right: 5px;
	margin-left: 0px;
}

.link-footer-value {
	margin-left: 0px;
}

.separator {
	margin-left: 5px;
	margin-right: 5px;
}

#main {
	margin-top: 40px;
}

h3 {
	margin-top: 20px;
	color: rgb(179, 179, 177);
}

#links {
	margin-left: 0px;
	list-style: none;
}

#footer {
	margin-top: 20px;
	text-align: center;
}