.btn.btn-inverse {
	background-color: rgb(51, 51, 50);
}

body {
	min-width: 1000px !important;
	background-color: #eee;
}

.btn-inverse:hover {
  opacity: .8;
}

#clearstream-app {
	padding: 0px;
	background-color: white;
	color: rgb(51, 51, 50);
}

#cover {
	min-width: 234px;
}

#cover-img {
	border-right: 1px solid #636363;
	min-width: 234px !important;
	background-image: url('../pics/acropolis.jpg');
	background-size: cover;
	position: fixed;
	height: 100%;
	min-width: 190px;
}

#cover-description {
	width: 100%;
	position: absolute;
	top: 62%;
}

#cover-description-inner {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#title {
	line-height: 40px;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

#subtitle {
	font-size: 20px;
	color: white;
}

#subtitle-line {
	margin-top: 18px;
	border-bottom-color: rgba(255, 255, 255, 0.298039);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#learn-more {
	color: white;
	padding-left: 0px;
}

#text-space {
	margin-left: auto;
  margin-right:auto;
  padding-top: 162px;
  padding-bottom: 80px;
}

#empty-space {
	margin: 0px;
}

#header {
	width: 100%;
	max-width: 730px;
	top: 0px;
	padding-top: 40px;
	background-color: white;
	position: fixed;
	z-index: 2;
}

#description {
	margin-left: 30px;
}

.description-title {
	margin-bottom: 20px;
	border-top: 1px solid rgb(179, 179, 177);
	border-bottom: 1px solid rgb(179, 179, 177);
}

.description-title span {
	line-height: 40px;
	color: rgb(179, 179, 177);
}

a {
	color: rgb(51, 51, 50);
}

a:hover, a:focus {
	color: rgb(179, 179, 177);
}

#link-title {
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0px;
}

#link-hostname {
	color: rgb(179, 179, 177);
	font-size: 12px;
}

#link-info {
	color: rgb(179, 179, 177);
	font-size: 10px;
	margin-bottom: 20px;
}

.link-footer-text {
	margin-right: 5px;
	margin-left: 0px;
}

.link-footer-value {
	margin-left: 0px;
}

.separator {
	margin-left: 5px;
	margin-right: 5px;
}

#refresh {
	margin-left: 30px;
	margin-bottom: 60px;
}

#refresh i {
	font-size: 16px;
}

#list-wrapper {
	max-width: 700px;
	position: relative;
	margin-top: 38px;
	padding-left: 30px;
}

#links {
	margin-left: 0px;
	margin-bottom: 0px;
}

#footer {
	margin-top: 20px;
	text-align: center;
}

#showmore {
	width: 100%;
}