.btn.btn-inverse {
	background-color: rgb(55, 55, 55);
}

body {
	font-family: Arimo;
  color: rgb(55, 55, 55);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

#clearstream-app {
	padding: 0px;
	background-color: white;
}

#cover-description {
  position: fixed;
  top: 62%;
}

#title {
	display: block;
	line-height: 40px;
  font-size: 30px;
	color: rgb(0,0,0);
	font-weight: 900;
}

#subtitle {
	display:block;
	font-size: 20px;
	color: rgb(179, 179, 177);
	font-weight: 100;
}

#subtitle-line {
	display: block;
  margin-top: 8px;
  margin-bottom: 10px;
  border-bottom-color: rgb(55, 55, 55);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#learn-more {
  color: rgb(55, 55, 55);
  padding-left: 0px;
}

#text-space {
  padding-top: 102px;
  margin: 0px;
}

#empty-space {
	margin: 0px;
	padding-bottom: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid rgb(179, 179, 177);
}

#header {
	width: 100%;
	max-width: 640px;
	top: 0px;
	padding-top: 40px;
	background-color: white;
	position: fixed;
	z-index: 2;
}

.description-title {
	font-size: 12px;
	font-weight: lighter;
	max-width: 640px;
	margin: 0px;
	border-top: 1px solid rgb(179, 179, 177);
	border-bottom: 1px solid rgb(179, 179, 177);
}

.description-title span {
	line-height: 40px;
	color: rgb(179, 179, 177);
}

a {
	color: rgb(55, 55, 55);
}

a:hover, a:visited, a:link, a:active {
	color: rgb(55, 55, 55);
  text-decoration: none;
}


#links {
  margin-left: 0px;
  margin-bottom: 0px;
}

.link {
	padding-top: 40px;
	padding-bottom: 40px;
  max-height: 340px;
  overflow: hidden;
  border-bottom-color: rgb(242, 242, 240);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.link:hover {
	 /*border-bottom-color: rgb(71, 135, 237);*/
	 border-bottom-color: rgb(136, 172, 219);
}

.link-hostname {
  color: rgb(179, 179, 177);
  font-size: 12px;
}

.link-info {
  color: rgb(179, 179, 177);
  font-size: 10px;
  margin-bottom: 20px;
}

.link-img {
	max-width: 180px;
  max-height: 125px;
}

.link-text {
	line-height: 25px;
	font-size: 17px;
	min-height: 75px;
  max-height: 125px;
  overflow: hidden;
  font-weight: 300;
  text-align: justify;
}

.link-text:hover {
  text-decoration: none;
}

.link-title {
	color: #222222;
	font-size: 28px;
  font-weight: bold;
  height: auto;
  line-height: 34px;
	margin: 0px;
}

.link-footer-text {
	margin-right: 5px;
	margin-left: 0px;
}

.link-footer-value {
	margin-left: 0px;
}

.separator {
	margin-left: 5px;
	margin-right: 5px;
}

.kippt a {
	color: rgb(179, 179, 177);
}

#newLinks {
	position: fixed;
	display: none;
	width: 80px;
	height: 80px;
	background-color: rgb(0,0,0);
	color: white;
	cursor: hand; 
	cursor: pointer;
	text-align: center;
	vertical-align: text-middle;
}

#sum {
	margin-top: 10px;
	margin-bottom: 0px;
	line-height: 40px;
	font-size: 40px;
	font-weight: bold;
}

#newLinks:hover {
	/*background-color: rgb(71, 135, 237);*/
	background-color: rgb(136, 172, 219);
}

#newLinks-text {
	display: block;
}

#list-wrapper {
	max-width: 640px;
	position: relative;
}

#footer {
  border-top: 1px solid rgb(179, 179, 177);
	margin-top: 40px;
	text-align: center;
	max-width: 640px;
	margin-bottom: 80px;
}